<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body id="page-top">
<div id="wrapper">
    <div th:replace="fragments/header :: header"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="fragments/nav :: nav"></div>

            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Lista de Categorías</h1>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <a th:href="@{/categorias/nuevo}" class="btn btn-outline-primary mb-4" role="button">Nueva Categoría</a>

                        <div>
                            <table id="example" class="table table-bordered table-hover nowrap" style="width: 100%">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">ID Categoría</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="categoria : ${categorias}">
                                        <td th:text="${categoria.idCategoria}">1</td>
                                        <td th:text="${categoria.nombre}">Ejemplo</td>
                                        <td>
                                            <div class="d-grid gap-2 d-md-block">
                                                <a th:href="@{/categorias/editar/{id}(id=${categoria.idCategoria})}" class="btn btn-outline-warning">Modificar</a>
                                                <a th:href="@{/categorias/eliminar/{id}(id=${categoria.idCategoria})}" class="btn btn-outline-danger">Eliminar</a>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>


<div th:replace="fragments/modalCerrarSesion :: modalCerrarSesion"></div>
<div th:replace="fragments/scripts :: scripts"></div>

<script th:inline="javascript">
    $(document).ready(function () {
        $('#example').DataTable({
            responsive: true
        });
    });
</script>

</body>
</html>
