<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>
<body id="page-top">

<div id="wrapper">
    <header th:replace="~{fragments/header :: header}"></header>

    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="~{fragments/nav :: nav}"></div>

            <div class="container-fluid">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 id="titulo" class="h3 mb-0 text-gray-800">Lista de Productos</h1>
                </div>

                <div class="card mt-4">
                    <div class="card-body">
                        <a th:href="@{/productos/nuevo}" class="btn btn-outline-primary mb-4" role="button">Nuevo Producto</a>

                        <div>
                            <table id="example" class="table table-bordered table-hover nowrap" style="width: 100%">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID Producto</th>
                                        <th>Nombre</th>
                                        <th>Categoría</th>
                                        <th>Proveedor</th>
                                        <th>Precio Venta</th>
                                        <th>Precio Compra</th>
                                        <th>Stock</th>
                                        <th>Imagen</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="producto : ${productos}">
                                        <td th:text="${producto.idProducto}"></td>
                                        <td th:text="${producto.nombre}"></td>
                                        <td th:text="${producto.nombreCategoria}"></td>
                                        <td th:text="${producto.nombreProveedor}"></td>
                                        <td th:text="${producto.precioVenta}"></td>
                                        <td th:text="${producto.precioCompra}"></td>
                                        <td th:text="${producto.stock}"></td>
                                        <td>
                                            <img th:src="@{'/producto/' + ${producto.imagen}}" width="100" height="100">

                                        </td>
                                        <td>
                                            <div class="d-grid gap-2 d-md-block">
                                                <a th:href="@{/productos/editar/{id}(id=${producto.idProducto})}" class="btn btn-outline-warning">Modificar</a>
                                                <a th:href="@{/productos/eliminar/{id}(id=${producto.idProducto})}" class="btn btn-outline-danger">Eliminar</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>

<div th:replace="~{fragments/modalCerrarSesion :: modalCerrarSesion}"></div>
<div th:replace="~{fragments/scripts :: scripts}"></div>

<script>
    $(document).ready(function () {
        $("#example").DataTable({
            responsive: true,
        });
    });
</script>

</body>
</html>
